:root {
    --main-white: rgb(228, 228, 228);
    --secondary-white: rgb(197, 197, 197);
    --main-dark: rgb(41,41,41);
    --main-green: rgb(63, 145, 74);
    /* --main-green: rgb(127, 232, 57); */
    --secondary-green: rgb(127, 232, 57);
}

body {
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-size:1.25rem;
}

ul {
    margin:0;
    padding:0;
}

h1, h2, h3, h4, h5, h6, p {
    margin:0;
}

a {
    text-decoration: none;
}

/* a:visited {
    color:var(--main-white);
} */

.flex {
    display: flex;
    gap: 1rem;
}

.logo {
    padding:1rem;
    width:100vw;
    background: rgba(10,10,10,0.2);
    color:white;
    font-weight:bold;
    font-size:1.5rem;
}

.primary-navigation {
    list-style:none;
}

.primary-navigation a {
    color:white;
}

.secondary-navigation {
    display: none;
}

.hamburger-block-hidden {
    display:none;
}

.hamburger-block {
    z-index: 1000;
}

@media screen and (max-width: 600px) {
    .primary-header {
        position:fixed;
    }
    
    .primary-navigation {
        flex-direction: column;
        position:fixed;
        inset: 0 0 0 30%;
        height:100vh;
        width:70vw;
        padding: 20rem 3em;
        background: rgba(10,10,10,0.6);
        font-weight:700;
        font-size:2rem;
    }

    .secondary-navigation {
        width: 100%;
        display: flex;
        justify-content: right;
        gap:2rem;
        list-style:none;
        position: fixed;
        bottom: 0;
        right:0;
        padding: 1rem;
        padding-right: 2rem;
        background: var(--main-green);
        font-weight:400;
        font-size:1.5rem;
    }
    
    .secondary-navigation a {
        color: white;
    }
    
    .secondary-navigation button {
        background: none;
        border: none;
        color: white;
    }

}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: rgba(10,10,10,0.3);
        backdrop-filter: blur(1rem);
    }
}


.hero {
    background-image: url('../images/money_tree_coins.jpg');
    background-position: 5%;
    background-size: cover;
    min-height:100vh;
}

.hero span {
    color: var(--secondary-green);
}
.hero-content {
    padding:10rem 1rem 0;
    /* margin-top:10rem; */
    color:var(--main-white);
    max-width:650px;
}

.hero-button {
    padding: 0 1rem;
    margin-top:2rem;
    margin-bottom:0.75rem;
    border-radius: 2%;
    font-size:2rem;
}

.hero-button a {
    padding:0.5rem 1rem;
    border-radius:5%;
    background-color: var(--main-green);
}

.hero-button a {
    color: var(--main-white);
    text-decoration: none;
}

.hero-button-secondary {
    color: var(--secondary-white);
    padding: 0 1rem;
    border-radius: 2%;
    font-size:1.25rem;
}

.hero-button-secondary a {
    color: var(--secondary-white);
}

.app-main {
    background-image: linear-gradient(to bottom right, rgb(152, 236, 136), rgb(192, 255, 211));
    min-height:100vh;
    width:100vw;
}

.rounding {
    border-radius:5%;
}
.section-full {
    width:100%;
    min-height:100vh;
    margin:auto;
    background: white;
}
.section-half {
    width:100%;
    min-height:50vh;
    margin:auto;
    background: white;
}
.section-quarter {
    width:100%;
    min-height:25vh;
    margin:auto;
    background: white;
}



.half-half {
    background: rgb(228,228,228);
    background: linear-gradient(
        0deg, 
        rgba(255,255,255,1) 45%, 
        rgba(255,255,255,1) 50%, 
        rgba(63,145,74,1) 55%
        );
    }

.container {
    height:100%;
    padding:1rem;
}
.form-container {
    height:100%;
    padding:1rem;
    padding-top:25%;
    /* margin-top:25%; */
}

.profile-form {
    margin-bottom:2em;
}

.form {
    padding: 2em;
    border-radius: 2%;
    background-color: white;
    box-shadow: 0px 10px 22px 0px rgba(122,122,122,1);
}

.form-title {
    margin-bottom: 1rem;
    color: var(--main-green);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.add-input-group {
    display:flex;
    justify-content:space-between;
    margin-bottom: 0.5rem;
}

.form-group label  {
    margin-bottom: 0.5rem;
}

.form button {
    border:none;
    padding: 0.5em;
    color: var(--main-white);
    background-color: var(--main-green);
}

.form-link {
    color: var(--main-green)
}

.error {
    color:red;
}

/* PROGRESS PAGE STYLES */

.progress-row {
    min-height:10vh;
    display:flex;
    justify-content: center;
    margin-bottom:2rem;
}

.progress-card {
    width:50%;
    padding:1rem;
}

.progress-info {
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.progress-label {
    font-size:1.5rem;
    text-align:center;
    margin-top:0;
}
.progress-stat {
    text-align:center;
    margin-top:0;
    font-size:2rem; 

}

.gain {
    color:green; 
}

.loss {
    color:red; 
}

.chart-overlay {
    position:relative;
    display:flex;
    justify-content: center;
    align-items:center;
}

.chart-overlay div {
    position: absolute;
    font-size:3rem;
}
.chart-overlay div p {
    margin:0;
    font-size:2rem;
}

.chart-subtext {
    font-size: 0.75rem;
}